.formContainer
{
    text-align: center;
    margin-top: 10%;
    
    
}

form{
    border: 1px solid black;
    padding: 15px;
    display: inline-block;
}

label
{
    padding-right: 5px;
}

.container
{
    text-align: center;
    
}